[Desktop Entry]
Name=Desktop
Exec=firefox -profile "/home/jonathan/Documents/myscripts/firefox-profiles/desktop" https://www.facebook.com/messages/
Icon=/home/jonathan/Documents/myscripts/icons/messenger.png
Terminal=false
Type=Application
StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true
