[Desktop Entry]
Name=Family
Exec=firefox -profile "/home/jonathan/Documents/myscripts/firefox-profiles/fam" https://m.facebook.com/messages/
Icon=/home/jonathan/Documents/myscripts/icons/messenger2.png
#Keywords=command;prompt;cmd;commandline;run;shell;terminal;kgx;
Terminal=false
Type=Application
#Categories=System;TerminalEmulator;X-GNOME-Utilities;GTK;GNOME;
StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true
