[Desktop Entry]
Name=Terminal
Exec=kgx -e 'ash -l'
Icon=/home/jonathan/Documents/myscripts/icons/terminal.png
Keywords=command;prompt;cmd;commandline;run;shell;terminal;kgx;
Terminal=false
Type=Application
Categories=System;TerminalEmulator;X-GNOME-Utilities;GTK;GNOME;
StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true
